<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="author" content="templatemo">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Liberty Template - NFT Item Detail Page</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Additional CSS Files -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-liberty-market.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/animate.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
    <!--

TemplateMo 577 Liberty Market

https://templatemo.com/tm-577-liberty-market

-->
  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="details.html" class="active">Item Details</a></li>
                        <li><a href="author.html">Author</a></li>
                        <li><a href="create.html">Create Yours</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->



  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>View Details <em><a>For Item</a></em> Here.</h2>

          </div>
          <div class="table item row col-12 my-class display:block">

          <table>
            <tr>
              <th>لینک</th>
              <th>نام</th>
              <th>توضیح</th>
              <th>مقدار </th>
              <th>روز باقی مانده </th>
              <th>قیمت </th>
            </tr>
            {%
              for my_item in tenders
            %}
            <tr>
              <td><a href="/tender/{{my_item.tender.id}}" class="active">my Link</a></td>
              <td>{{my_item.tender.title}}</td>
              <td>{{my_item.tender.description}}</td>
              <td>{{my_item.tender.amount}}</td>
              <td>{{my_item.exp_date}}</td>
              <td>{{my_item.tender.price}}</td>
            </tr>
            {% endfor %}
          </table>
          </div>
          <a href="/tenders?slip=10"> next</a>

        </div>



      </div>
    </div>
  </div>



  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright © 2022 <a href="#">Liberty</a> NFT Marketplace Co., Ltd. All rights reserved.
          &nbsp;&nbsp;
          Designed by <a title="HTML CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
        </div>
      </div>
    </div>
  </footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js')}}"></script>

<script src="{{ url_for('static', filename='/assets/js/isotope.min.js')}}"></script>
<script src="{{ url_for('static', filename='/assets/js/owl-carousel.js')}}"></script>
<script src="{{ url_for('static', filename='/assets/js/wow.js')}}"></script>
<script src="{{ url_for('static', filename='/assets/js/tabs.js')}}"></script>
<script src="{{ url_for('static', filename='/assets/js/popup.js')}}"></script>
<script src="{{ url_for('static', filename='/assets/js/custom.js')}}"></script>
  </body>
</html>
